<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <form action="">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" class="form-control" id="title" required [(ngModel)]="news.title" name="title" />
                </div>

                <div class="form-group">
                    <label for="content">Contenido</label>
                    <input class="form-control" id="content" required [(ngModel)]="news.content"
                        name="content" />
                </div>

                <button type="submit" (click)="saveNews()" class="btn btn-success">Crear</button>
            </form>
        </div>

        <div *ngIf="submitted">
            <h4>Noticia envia satisfactoriamente!</h4>
            <button class="btn btn-success" (click)="newNews()">Agregar otra</button>
        </div>
    </div>
</div>