<div class="list row">
    <!-- <div class="col-md-4 offset-md-8" style="padding: 0px 0px 50px 0px;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar por titulo" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                    Buscar
                </button>
            </div>
        </div>
    </div> -->
    <div class="col-md-8">
        <h2>Lista de Noticias</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let new of news; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveNews(new, i)">
                {{ new.title }}
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <div *ngIf="currentNews">
            <h2>Detalles y acciones</h2>
            <div>
                <label><strong>Titulo:</strong></label> {{ currentNews.title }}
            </div>
            <div>
                <label><strong>Contenido:</strong></label>
                {{ currentNews.content }}
            </div>
            <div>
                <label><strong>Estado:</strong></label>
                {{ currentNews.published ? "Published" : "Pending" }}
            </div>

            <a class="badge badge-warning" routerLink="/news/{{ currentNews.id }}">
                Editar
            </a>
        </div>

        <div *ngIf="!currentNews">
            <br />
            <p>Click en la noticia, para ver el detalle...</p>
        </div>
    </div>
</div>