<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>News List</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let new of news; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveNews(new, i)">
                {{ new.title }}
            </li>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllNews()">
            Remove All
        </button>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentNews">
            <h4>News</h4>
            <div>
                <label><strong>Title:</strong></label> {{ currentNews.title }}
            </div>
            <div>
                <label><strong>Content:</strong></label>
                {{ currentNews.content }}
            </div>
            <div>
                <label><strong>Status:</strong></label>
                {{ currentNews.published ? "Published" : "Pending" }}
            </div>

            <a class="badge badge-warning" routerLink="/news/{{ currentNews.id }}">
                Edit
            </a>
        </div>

        <div *ngIf="!currentNews">
            <br />
            <p>Please click on a News...</p>
        </div>
    </div>
</div>